section.main{
    position: relative;
}
section.main .sign-up-card{
    position: absolute;
    right: 4vw;
    left: 4vw;
    top: -20vh;
    font-family: 'Open Sans', sans-serif;
}
section.main .form-box{
    position: relative;
    box-shadow: 0 50px 100px rgba(50,50,93,.1), 0 15px 35px rgba(50,50,93,.15), 0 5px 15px rgba(0,0,0,.1);
    background-color: #f7fafc;
    border-radius: .375rem;
}
section.main .form-box h6{
    color: rgb(129, 129, 129);
    font-size: .8rem;
    height: 2rem;
}
section.main .form-box .social-options{
    padding: 1.25rem 1.5rem;
    height: 32vh;
}
section.main .form-box .social-options button{
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
    width: 7.8rem;
    padding: 0.6rem 0;
    margin: 0.2rem 0;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    border: 1px solid transparent;
    border-radius: .375rem;
    transition: .2s all ease;
    outline: 0;
    cursor: pointer;
}
section.main .form-box .social-options button span,
section.main .form-box .social-options button i{
    color: #5e72e4;
    margin: 0 0.15rem;  
    font-size: 1.1rem; 
}
section.main .form-box .social-options button i{
    color: rgb(43, 47, 87);
}
section.main .form-box .social-options button img{
    height: auto;
    margin: 0 0.15rem;
    width: 1.1rem;
}
section.main .form-box .social-options button span{     
    font-size: .9rem; 
}
section.main .form-box .social-options button span{
    font-weight: 650;
    letter-spacing: .025em;
    text-transform: none;
}
section.main .form-box form .input-group{
    padding: .625rem .75rem;
    box-shadow: 0 1px 3px rgba(50,50,93,.15), 0 1px 0 rgba(0,0,0,.02);
    margin-left: 6vw;
    margin-right: 6vw;
    border-radius: .375rem;
    background-color: #fff;
    font-size: 1rem;
    line-height: 1.5;
    color: rgba(204, 204, 204, 0.753);
}
section.main .form-box form .input-group input{
    font-size: 1rem;
    color: rgb(141, 141, 141);
    font-family: 'Open Sans', sans-serif;
    outline: none;
}
section.main .form-box form .input-group i{
    padding-right: 1rem;
    color: rgba(153, 153, 153, 0.753);
}  
.input-group-check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-left: 6vw;
    cursor: pointer;
    font-size: 1rem;
    color: rgb(141, 141, 141);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.input-group-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22.5px;
    width: 22.5px;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(50,50,93,.15), 0 1px 0 rgba(0,0,0,.02);
}
.input-group-check:hover input ~ .checkmark {
    background-color: rgb(255, 255, 255);
}
.input-group-check input:checked ~ .checkmark {
    background-color: #5e72e4;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.input-group-check input:checked ~ .checkmark:after {
    display: block;
}
.input-group-check .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.form-group button.btn-sign-in{
    background-color: #5e72e4;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    padding: 0.7rem 1.7rem;
    border-radius: .375rem;
    box-shadow: 0 1px 3px rgba(50,50,93,.15), 0 1px 0 rgba(0,0,0,.02);
    font-weight: 600;
    cursor: pointer;
}
.end-links a{
    color: #fff;
    text-decoration: none;
    font-size: 0.8rem;
}








@media (min-width: 768px) { 
    section.main .form-box .social-options{
        padding: 1.25rem 1.5rem;
        height: 25vh;
    }    
    section.main .form-box .social-options button:hover{
        box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 3px 6px rgba(0,0,0,.08);
        margin-top: -0.1rem;
    }
    section.main .form-box .social-options button:hover > span{
        color: rgba(15, 15, 15, 0.842);
    }
    section.main .sign-up-card{
        position: absolute;
        right: 20vw;
        left: 20vw;
        top: -20vh;
        font-family: 'Open Sans', sans-serif;
    }
    section.main .form-box form .input-group{
        margin-left: 3vw;
        margin-right: 3vw;
    }
    .input-group-check {
    	margin-left: 3vw;
    }
}
@media (min-width: 992px) { 
    section.main .sign-up-card{
        position: absolute;
        right: 33vw;
        left: 33vw;
        top: -20vh;
        font-family: 'Open Sans', sans-serif;
    }
}